.header_sony_height {
    height: 2.5rem;
}

.navbar_h   {
    height: 4.5rem;
}

.search_lens {
    width: 1.375rem;
}

.chevron_down_solid {
    width: 13px;
}

/* #region Debug */ 

/* .debug .jumbotron {
    height: 643px;
    background-color: blue;
} */

.debug .section_one {
    height: 1423px;
    background-color: yellow;
    opacity: 0.2;
}

.debug .section_two {
    height: 680px;
}

.debug .section_three {
    height: 768px;
    background-color: green;
    opacity: 0.2;
}

.debug .section_four {
    height: 798px;
    background-color: purple;
    opacity: 0.2;
}

.debug .section_five {
    height: 441px;
    background-color: blue;
    opacity: 0.2;

}

.debug .section_six {
    height: 743px;
    background-color: rgb(255, 81, 0);
    opacity: 0.2;

}

.debug .section_seven {
    height: 504px;
    background-color: blue;
    opacity: 0.2;

}

.debug .section_eight {
    height: 439px;
    background-color: rgb(238, 255, 0);
    opacity: 0.2;

}

.debug .footer {
    height: 603px;
    background-color: blue;
    

}
/* #endregion Debug */

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 643px;
}

.container_mini_jumbotron {
    width: 398px;
    padding-top: 270px;
}

.img_w_logo_returnal {
    width: 235px;
}

.btn_orange {
    background-color: #CD3D0F;
}

.mt_p {
    margin-top: 2.25rem;
}

.mt_h2 {
    margin-top: 2.625rem;
}